@model ShopManagment.Sale

@{
    ViewBag.Title = "Create";
}

<h2>გაყიდვის ფორმა</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sale</legend>

        <div class="editor-label">
            კატეგორია
        </div>
        <div class="editor-field">
            @Html.DropDownList("CatID", String.Empty)
            @Html.ValidationMessageFor(model => model.CatID)
        </div>

        <div class="editor-label">
            პროდუქტის ტიპი
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>

        <div class="editor-label">
            საწყობი
        </div>
        <div class="editor-field">
            @Html.DropDownList("StorageID", String.Empty)
            @Html.ValidationMessageFor(model => model.StorageID)
        </div>

        <div class="editor-label">
            ერთეულის ფასი
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { @readonly = true }) 
        </div>

        <div class="editor-label">
            საწყობში რაოდენობა
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity, new { @readonly = true }) 
        </div>

        <div class="editor-label">
            გასაყიდი რაოდენობა
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            ჯამური ფასი
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { @readonly = true }) 
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
