@model ShopManagment.Storage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Storage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Addr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Addr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opened)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opened)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Closed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Closed)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true);
    <p>
        <input type="submit" value="წაშლა" /> |
        @Html.ActionLink("უკან", "Index")
    </p>
}
