@model IEnumerable<ShopManagment.Storage>

@{
    ViewBag.Title = "Index";
}

<h2>საწყობები</h2>

<p>
    @Html.ActionLink("ახალი საწყობის დამატება", "Create")
    @Html.ActionLink("პროდუქციის გადატანა", "Move")
</p>
<table>
    <tr>
        <th>
            სახელი
        </th>
        <th>
            აღწერა
        </th>
        <th>
            მისამართი
        </th>
        <th>
            გახსნის თარიღი
        </th>
        <th>
            დახურვის თარიღი
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opened)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Closed)
        </td>
        <td>
            @Html.ActionLink("შესყიდვა", "Purchase", new { id=item.ID }) |
            @Html.ActionLink("რედაქტირება", "Edit", new { id=item.ID }) |
            @Html.ActionLink("ნაშთები", "Details", new { id=item.ID }) |
            @Html.ActionLink("დახურვა", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
