@{
    ViewBag.Title = "მაღაზიის მართვის სისტემა";
}
@section featured {

    <section class="content-wrapper main-content clear-fix">
          @if (!Request.IsAuthenticated)
          {
              @Html.Partial("~/Views/Account/Login.cshtml")
          }
          else
          {
             
              if (User.IsInRole("StorageOperator"))
              {
              @Html.Partial("~/Views/Home/StorageOperatorPage.cshtml")
              }
              else if (User.IsInRole("ShopOperator"))
              {
              @Html.Partial("~/Views/Home/ShopOperatorPage.cshtml")
              }
              else if (User.IsInRole("ShopManager"))
              {
              @Html.Partial("~/Views/Home/ShopManagerPage.cshtml")
              }
              else
              {
              @Html.Partial("~/Views/Account/Login.cshtml");
              }
          }


}
</section>

