@{
    ViewBag.Title = "მაღაზიის მართვის სისტემა";
}
@section featured {

    <section class="content-wrapper main-content clear-fix">
          @if (!Request.IsAuthenticated)
          {
              @Html.Partial("~/Views/User/Login.cshtml")
          }
          else
          {
              int AdminRole = 2/*(int)Session["Role"]*/;
              if (AdminRole == 1)
              {
              @Html.Partial("~/Views/Home/StorageOperatorPage.cshtml")
              }
              else if (AdminRole == 2)
              {
              @Html.Partial("~/Views/Home/ShopOperatorPage.cshtml")
              }
              else if (AdminRole == 3)
              {
              @Html.Partial("~/Views/Home/ShopManagerPage.cshtml")
              }
              else
              {
              @Html.Partial("~/Views/User/Login.cshtml");
              }
          }


}
</section>

