@{
    ViewBag.Title = "მაღაზიის მართვის სისტემა";
}
@section featured {

    <section class="content-wrapper main-content clear-fix">
          @if (!Request.IsAuthenticated)
          {
              @Html.Partial("~/Views/User/Login.cshtml")
          }
          else
          {
              <strong>@Html.Encode(User.Identity.Name)</strong>
              int AdminRole = 2/*(int)Session["Role"]*/;
              if (AdminRole == 1)
              {
              @Html.Partial("~/Views/Home/StorageOperatorPage.cshtml")
              }
              else if (AdminRole == 2)
              {
                  <b>ddasdasdas</b>
                  //@Html.Partial("~/Views/ShopSales/Index.cshtml")
                @Html.ActionLink("მთავარი გვერდი","Index", "ShopSales", null, null)
              }
              else if (AdminRole == 3)
              {
              @Html.Partial("~/Views/Home/ShopManagerPage.cshtml")
              }
              else
              {
              @Html.Partial("~/Views/User/Login.cshtml");
              }
          }


}
</section>

