@model ShopManagment.Category

@{
    ViewBag.Title = "კატეგორიის რედაქტირება";
}

<h2>კატეგორიის რედაქტირება</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descr)
            @Html.ValidationMessageFor(model => model.Descr)
        </div>

        <p>
            <input type="submit" value="დამახსოვრება" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("უკან", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
