<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Shop Managment MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
    <script>
        $().ready(function () {
            var oTable = $(".cxrili").dataTable({
                "sScrollY": "200px",
                "bJQueryUI": true,
                "bSortClasses": true,
                "sTitle": "Grade",
                "sClass": "center",
                "sPaginationType": "full_numbers"
            });
        });
    </script>


</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("სუპერმარკეტი \"დუნდრუკი\"", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("მთავარი გვერდი", "Index", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("StorageOperator"))
                            {
                            <li>@Html.ActionLink("კატეგორიები", "Index", "Categories")</li>
                            <li>@Html.ActionLink("პროდუქტები", "Index", "Products")</li>
                            <li>@Html.ActionLink("საწყობები", "Index", "Storages")</li>
                            <li>@Html.ActionLink("ნაშთები", "Index", "Balances")</li>
                            }
                            else if (User.IsInRole("ShopOperator"))
                            {
                            <li>@Html.ActionLink("გაყიდვები", "Index", "ShopSales")</li>
                            <li>@Html.ActionLink("ისტორია", "Index", "ShopHistory")</li>
                            }
                            else if (User.IsInRole("ShopManager"))
                            {
                            <li>@Html.ActionLink("ნაშთები", "Index", "Balances")</li>
                            <li>@Html.ActionLink("ისტორია", "Index", "ShopHistory")</li>
                            }

                        }

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Shop Managment MVC Application</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>
</html>
