@model ShopManagment.Sale

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sale</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminID, "Admin")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AdminID", String.Empty)
            @Html.ValidationMessageFor(model => model.AdminID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StorageID, "Storage")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StorageID", String.Empty)
            @Html.ValidationMessageFor(model => model.StorageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CatID, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CatID", String.Empty)
            @Html.ValidationMessageFor(model => model.CatID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductID, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Returned)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Returned)
            @Html.ValidationMessageFor(model => model.Returned)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
